img.poster {
  display: none;
}

.clickable {
  cursor: pointer;
  color: blue;
}

.clickable:hover {
  text-decoration: underline;
}

.ironic {
  text-decoration: line-through;
}

body.light {
  background-color: white;
  color: black;
}

body.dark {
  background-color: black;
  color: white;
}

#paragraph {
  cursor: pointer;
}

.highlight {
  border-style: solid;
  border-color: blue;
  background-color: yellow;
}
